<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Famboard</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style type="text/css">
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
