<div class="content">
  <h1>Create Event</h1>

  <form method="post" action="/event/new">
    <div class="field">
      <label for="title" class="label">Title</label>
      <div class="control">
        <input type="text" name="title" id="title" autocomplete="off" autofocus="true" class="input" />
      </div>
    </div>

    <div class="field">
      <label for="description" class="label">Description</label>
      <div class="control">
        <textarea name="description" id="description" cols="100" rows="5" class="input"></textarea>
      </div>
    </div>

    <div class="field">
      <label for="date" class="label">Date</label>
      <div class="control">
        <input type="date" name="date" id="date" {{#if defaultDate}}value="{{defaultDate}}"{{/if}} class="input" />
      </div>
    </div>

    <div class="control">
      <button type="submit" class="button is-info">Submit</button>
    </div>
  </form>
</div>
