<h1>Create Event</h1>

<form method="post" action="/event/new">
  <label for="title">
    Title: <br /><input type="text" name="title" id="title" autocomplete="off" autofocus="true" />
  </label>
  <br />

  <label for="description">
    Description: <br /><textarea name="description" id="description" cols="100" rows="5"></textarea>
  </label>
  <br />

  <label for="date">
    Date: <br /><input type="date" name="date" id="date" {{#if defaultDate}}value="{{defaultDate}}"{{/if}} />
  </label>
  <br />

  <input type="submit" value="Send" />
</form>
