<h1>Create Event</h1>

<form method="post" action="/event/new">
  <label for="title">
    Title: <br /><input type="text" name="title" id="title" autocomplete="off" />
  </label>
  <br />

  <label for="description">
    Description: <br /><textarea name="description" id="description" cols="100" rows="5"></textarea>
  </label>
  <br />

  <label for="date">
    Date: <br /><input type="date" name="date" id="date" />
  </label>
  <br />

  <input type="submit" value="Send" />
</form>

<script type="text/javascript">
  window.onload = function() {
    //
    // TODO - find a way to handle this better?
    //
    const urlParams = new URLSearchParams(window.location.search);
    const defaultDate = parseInt(urlParams.get('date'));
    const dateElement = document.getElementById('date');
    dateElement.valueAsNumber = defaultDate;
  };
</script>
